header {
  display: flex;
  justify-content: center;
  background-color: #e3365f;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 16px 0 0 0;
}

header a {
  flex-basis: 100%;
  text-decoration: none;
}

header img {
  display: none;
}

header h1 {
  color: #fff;
  font-family: "Fontdiner Swanky", serif;
  font-size: 2.85em;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

header h4 {
  margin-top: -.25em;
  font-size:.9em;
  color: #fff;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}

header .navmenu {
  display: none;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  flex-basis: 60%;
  color: #e3365f;
  font-size: 2em;
  text-transform: uppercase;
}

/*******HOME PAGE*****/

.home {
  width: 100%;
  margin: 100px 0 0 0;
}

.home h2{
  font-family: "Shrikhand", serif;
  text-shadow: 1px 1px 16px #e8b7c3;
  font-size: 5em;
  text-align: center;
}

.home a {
  text-decoration: none;
  color: #fff;
}

#flavors {
  display: flex;
  background: url("../img/vanilla-splash.jpg") center left no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-bottom: solid 5px #e8b7c3;
}

#locations {
  display: flex;
  background: url("../img/ice-cream-case.jpg") left no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 5px #e8b7c3;
  border-bottom: solid 5px #e8b7c3;
}

#about {
  display: flex;
  background: url("../img/family.jpg") top no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 5px #e8b7c3;
  border-bottom: solid 5px #e8b7c3;
}

#contact {
  display: flex;
  background: url("../img/cones.jpg") center no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 5px #e8b7c3;
}

/******FLAVORS*****/

.flavor-menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url("../img/strawberry-splash.jpg") center no-repeat pink;
  background-size: cover;
}

.flavor-menu .content-wrapper {
  flex-basis: 60%;
  justify-content: center;
}

.flavor {
  padding: 3px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 3px #e3365f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.flavor-menu ul {
  justify-content: center;
  padding: 0;
}

.flavor-menu ul li {
  list-style-type: none;
  flex-basis: 65%;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1rem;
  align-item: center;
}

.flavor h5{
  font-size: 1.5rem;
  margin: 10px 0 -10px 0;
  font-family: "Shrikhand", sans-serif;
}

.flav-scoop {
  width: 100px;
  border-radius: 50%;
  margin-right: 10px;
}

footer {
  background-color: #e3365f;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 15px 0;
}

footer h6 {
  font-size: .875em;
  margin: .25em 0;
  font-family: "Hammersmith One", sans-serif;
}

/***** LOCATIONS ****/

#location-menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#location-menu .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-basis: 90%;
}

#location-menu h3 {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.75rem;
  width: 100%;
  text-transform: uppercase;
  color: #e3365f;
}

#location-menu h4 {
  font-style: normal;
  width: 100%;
  margin: .5em 0;
  font-size: 1.2em;
  color: #e3365f;
}

#location-menu article {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Hammersmith One", sans-serif;
  padding-bottom: 25px;
}

.map {
  position: relative;
  flex-basis: 60%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  border: solid 6px #e3365f;
  border-radius: 20px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.syracuse-location,
.dewitt-location {
  border-bottom: 1px solid #e3365f;
}

.location-details {
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  align-items: baseline;
  font-size: 1.35rem;
}

address {
  border-right: 1px solid #e3365f;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 45%;
  text-align: right;
  padding-right: 30px;
  margin: 0;
  line-height: 1.4em;
}

.location-address,
.location-phone {
  flex-basis: 100%;
}

.hours {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 45%;
  padding-left: 30px;
  margin: 0;
}

.hours ul{
  padding: 0;
  list-style: none;
  margin-top: .5em;
  line-height: 1.6em;
}

/*****ABOUT*****/

#about-page {
  margin-top: 115px;
}

#about-page h2,
#faqs h2 {
  text-align: center;
  font-family: "shrikhand", sans-serif;
  color: #e3365f;
}

#about-page,
#faqs {
  font-family: "hammersmith one", sans-serif;
  line-height: 1.3rem;
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#about-page .content-wrapper,
#faqs .content-wrapper {
  display: flex;
  flex-basis: 80%;
  padding-bottom: 10px;
}

.answer {
  padding-bottom: 15px;
  border-bottom: solid 1px #e3365f;
}