/****** GENERAL ******/

header {
  display: flex;
  justify-content: center;
  background-color: #e3365f;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 16px 0 0 0;
}

header a {
  flex-basis: 100%;
  text-decoration: none;
}

header img {
  display: none;
}

header h1 {
  color: #fff;
  font-family: "Fontdiner Swanky", serif;
  font-size: 2.85em;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

header h4 {
  margin-top: -.25em;
  font-size:.9em;
  color: #fff;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}

header .navmenu {
  display: none;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  flex-basis: 60%;
  color: #e3365f;
  font-size: 2em;
  text-transform: uppercase;
}

/****** HOME ******/

.home {
  width: 100%;
  margin: 100px 0 0 0;
}

.home h2{
  font-family: "Shrikhand", serif;
  text-shadow: 8px 8px 0px #e3365f;
  font-size: 5em;
  text-align: center;
  transition: .3s;
}

.home a {
  text-decoration: none;
  color: #fff;
}

.home a:hover h2 {
  transform: scale(2) rotate(-3deg);
  transition: .3s;
}

#flavors {
  display: flex;
  background: url("../img/best-strawberry-splash.png") center no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-bottom: solid 2px #e3365f;
}

#locations {
  display: flex;
  background: url("../img/caramel-splash.png") top left no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 3px #e3365f;
  border-bottom: solid 2px #e3365f;
}

#about {
  display: flex;
  background: url("../img/chocolate-splash-2.png") top no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 3px #e3365f;
  border-bottom: solid 2px #e3365f;
}

#contact {
  display: flex;
  background: url("../img/bloob-splash.png") top no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 125px 0;
  border-top: solid 3px #e3365f;
}

/****** FLAVORS ******/

.flavor-menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.flavor-menu .content-wrapper {
  flex-basis: 60%;
  justify-content: center;
}

.flavor {
  padding: 3px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 3px #e3365f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.flavor-r {
  padding: 3px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 3px #e3365f;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row-reverse wrap;
  text-align: right;
}

.flavor-menu ul {
  justify-content: center;
  padding: 0;
}

.flavor-menu ul li {
  list-style-type: none;
  flex-basis: 65%;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1rem;
  align-items: center;
}

.flavor h5,
.flavor-r h5 {
  font-size: 1.5rem;
  margin: 10px 0 -10px 0;
  font-family: "Shrikhand", sans-serif;
  color: #e3365f;
}

.flavor .flav-scoop {
  width: 100px;
  border-radius: 50%;
  margin-right: 25px;
}

.flavor-r .flav-scoop {
  width: 100px;
  border-radius: 50%;
  margin-left: 25px;
}

/****** LOCATIONS ******/

#location-menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#location-menu .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-basis: 90%;
}

#location-menu h3 {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 2.5rem;
  width: 100%;
  text-transform: uppercase;
  color: #e3365f;
}

#location-menu h4 {
  font-style: normal;
  width: 100%;
  margin: .5em 0;
  font-size: 1.2em;
  color: #e3365f;
}

#location-menu article {
  display: flex;
  flex-basis: 100%;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Hammersmith One", sans-serif;
  padding-bottom: 25px;
  border-top: 1px solid #e3365f;
}

.map {
  position: relative;
  flex-basis: 60%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  border: solid 6px #e3365f;
  border-radius: 20px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.location-details {
  display: flex;
  flex-basis: 80%;
  justify-content: center;
  align-items: baseline;
  font-size: 1.35rem;
}

address {
  border-right: 1px solid #e3365f;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 45%;
  text-align: right;
  padding-right: 30px;
  margin: 0;
  line-height: 1.4em;
}

.location-address,
.location-phone {
  flex-basis: 100%;
}

.hours {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 45%;
  padding-left: 30px;
  margin: 0;
}

.hours ul{
  padding: 0;
  list-style: none;
  margin-top: .5em;
  line-height: 1.6em;
}

/****** ABOUT ******/

#about-page {
  margin-top: 100px;
  font-family: "hammersmith one", sans-serif;
  line-height: 1.3rem;
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#about-page h2 {
  font-family: "shrikhand", sans-serif;
  color: #e3365f;
}

.page-background {
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
  background: url("../img/bg-stripes.png") repeat #f0e5d5;
}

#about-page .content-wrapper  {
  display: flex;
  flex-basis: 80%;
  padding-bottom: 10px;
}

.bio article {
  padding: 40px 0 0;
}

.about-us {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about-us img {
  width: 100%;
    border: solid 5px #e3365f;
  border-radius: 20px;
}

.about-us figure {
  margin: 0;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex-basis: 45%;
  padding-left: 7%;
}

.our-story {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
}

.our-story img {
  width: 100%;
  border: solid 5px #e3365f;
  border-radius: 20px;;
}

.our-story figure {
  margin: 0;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-text {
  flex-basis: 60%;
  padding-right: 7%;
  text-align: right;
}

.question {
color: #e3365f;
}

.answer {
  padding-bottom: 15px;
  border-bottom: solid 1px #e3365f;
}

.faq h2 {
  text-align: center;
  margin: 30px 0;
}

.faq p {
  font-size: 1rem;
  line-height: 1.3rem;
}

/****** CONTACT ******/

#contact-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contact-page .content-wrapper {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 80%;
  justify-content: center;
}

.contact-title {
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  font-family: "hammersmith one", sans-serif;
  font-size: 1.65em;
  color: #e3365f;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

form input,
textarea {
  width: 80%;
  margin-bottom: 10px;
  font-family: "hammersmith one", sans-serif;
  border: solid 2px #e3365f;
  border-radius: 2px;
  padding: 10px;
}

textarea {
  resize: none;
  height: 250px;
}

input[type=submit] {
  background-color: #e3365f;
  color: #fff;
  border: solid 2px #e3365f;
  text-transform: uppercase;
  font-size: 1.2em;
  width:60%;
  padding: 20px 0;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #e3365f;
}

/***** FOOTER *****/

footer {
  background-color: #e3365f;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0;
}

footer h6 {
  font-size: .875em;
  margin: .25em 0;
  font-family: "Hammersmith One", sans-serif;
}

footer .footer-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  flex-basis: 45%;
}

footer .social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.social-icons svg {
  width: 60px;
  padding: 0 25px;
}

footer path {
  fill: #fff;
  transition: .2s;
}

.social-icons a:hover path{
  fill: #ffe854;
  transition: .2s;
}

#contact-footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width:768px) {
  
  header {
    width: 450px;
    height: 100%;
    z-index: 0;
  }
  
  header .navmenu {
    display: inline-block;
    font-family: "Shrikhand", serif;
    font-size: 2rem;
    width: 450px;
    text-align: center;
    height: 100%;
    padding: 15px 0;
    background-color: pink;
  }

  .navmenu a {
    color: #fff;
  }

  .navmenu h2 {
    transition: .2s;
    text-shadow: 4px 4px 0 #e3365f;
  }
  .navmenu a:hover h2 {
    transform: scale(1.5) rotate(-2deg);
    transition: .2s;
  }
  .navmenu span {
    color: #fff;
    font-size: 1.5em;
    transform: rotate(-2deg);
  }

  .flavor-menu .content-wrapper {
    margin-left: 450px;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}