/****** GENERAL ******/

header {
  display: flex;
  justify-content: center;
  background-color: #e3365f;
  flex-flow: row wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 16px 0 0 0;
  border-bottom: 3px solid #fff;
}

header a {
  flex-basis: 100%;
  text-decoration: none;
}

header img {
  display: none;
}

header h1 {
  color: #fff;
  font-family: "Fontdiner Swanky", serif;
  font-size: 2.85em;
  text-align: center;
  flex-basis: 100%;
  margin: 0;
}

header h4 {
  margin-top: -.25em;
  font-size:.9em;
  color: #fff;
  font-family: "Hammersmith One", sans-serif;
  text-align: center;
}

header .navmenu {
  display: none;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0 0 0;
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  flex-basis: 60%;
  color: #e3365f;
  font-size: 2em;
  text-transform: uppercase;
}

/****** HOME ******/

.home {
  width: 100%;
  margin: 100px 0 0 0;
}

.home h2{
  font-family: "Shrikhand", serif;
  text-shadow: 5px 5px 0px #e3365f;
  font-size: 3.5em;
  text-align: center;
  transition: .3s;
}

.home a {
  text-decoration: none;
  color: #fff;
}

.home a:hover h2 {
  transform: scale(1.2) rotate(-3deg);
  transition: .3s;
}

#flavors {
  display: flex;
  background: url("../img/best-strawberry-splash.png") center no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-bottom: solid 2px #e3365f;
}

#locations {
  display: flex;
  background: url("../img/caramel-splash.png") top right no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-top: solid 3px #e3365f;
  border-bottom: solid 2px #e3365f;
}

#about {
  display: flex;
  background: url("../img/chocolate-splash-2.png") top no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-top: solid 3px #e3365f;
  border-bottom: solid 2px #e3365f;
}

#contact {
  display: flex;
  background: url("../img/bloob-splash.png") top no-repeat pink;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  border-top: solid 3px #e3365f;
}

/****** FLAVORS ******/

.flavor-menu {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.flavor-menu .content-wrapper {
  flex-basis: 80%;
  justify-content: center;
}

.flavor {
  padding: 3px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 3px #e3365f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}

.flavor-r {
  padding: 3px 0;
  margin: 10px 0;
  background-color: #fff;
  border: solid 3px #e3365f;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row-reverse wrap;
  text-align: right;
}

.flavor-menu ul {
  justify-content: center;
  padding: 0;
}

.flavor-menu ul li {
  list-style-type: none;
  flex-basis: 65%;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1rem;
  align-items: center;
}

.flavor h5,
.flavor-r h5 {
  font-size: 1rem;
  margin: 10px 0 -10px 0;
  font-family: "Shrikhand", sans-serif;
  color: #e3365f;
}

.flavor .flav-scoop {
  width: 75px;
  border-radius: 50%;
  margin-right: 15px;
}

.flavor-r .flav-scoop {
  width: 75px;
  border-radius: 50%;
  margin-left: 15px;
}

/****** LOCATIONS ******/


#location-menu .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  flex-basis: 80%;
}

#location-menu h3 {
  text-align: center;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.75rem;
  width: 100%;
  text-transform: uppercase;
  color: #e3365f;
}

#location-menu h4 {
  font-style: normal;
  flex-basis: 100%;
  margin: .25em 0;
  font-size: 1.2em;
  color: #e3365f;
  text-align: unset;
}

#location-menu article {
  display: flex;
  flex-basis: 85%;
  flex-flow: row wrap;
  justify-content: center;
  font-family: "Hammersmith One", sans-serif;
  padding-bottom: 25px;
  border-top: 1px solid #e3365f;
}

.map {
  position: relative;
  flex-basis: 85%;
  padding-bottom: 40%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px;
  border: solid 4px #e3365f;
  border-radius: 20px;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.location-details {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: baseline;
  font-size: .75rem;
}

address {
  padding-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 45%;
  text-align: right;
  padding-right: 10px;
  margin: 0;
  line-height: 1.4em;
  font-style: normal;
}

.location-address {
  padding: 0 0 10px;
}
.location-address,
.location-phone {
  flex-basis: 100%;
}

.hours {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 50%;
  border-left: 1px solid #e3365f;
  padding-left: 10px;
  margin: 0;
}

.hours ul{
  padding: 0;
  list-style: none;
  margin-top: 0;
  line-height: 1.6em;
}

/****** ABOUT ******/

#about-page {
  margin-top: 100px;
  font-family: "hammersmith one", sans-serif;
  line-height: 1.3rem;
  font-size: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#about-page .section-title {
  padding: 0;
  flex-basis: 100%;
}

#about-page h3, h4 {
  font-family: "shrikhand", sans-serif;
  color: #e3365f;
  font-size: 1.5em;
  text-align: center;
}

#about-page h4 {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  padding-bottom: 10px;
}

.page-background {
  width:100%;
  height:100%;
  position: fixed;
  z-index: -1;
  background: url("../img/bg-stripes.png") repeat #f0e5d5;
}

#about-page .content-wrapper  {
  display: flex;
  flex-basis: 80%;
  padding-bottom: 10px;
  flex-flow: row wrap;
}

.bio article {
  padding-bottom: 25px;
}

.about-us {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.about-us img {
  width: 100%;
  border: solid 5px #e3365f;
  border-radius: 20px;
}

.about-us figure {
  margin: 0;
  flex-basis: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-text {
  flex-basis: 85%;
}

.our-story {
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: center;
  align-items: center;
}

.our-story img {
  width: 100%;
  border: solid 5px #e3365f;
  border-radius: 20px;;
}

.our-story figure {
  margin: 0;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-text {
  flex-basis: 85%;
  text-align: left;
}

.question {
  font-size: 1.05em;
  color: #e3365f;
  margin: 0;
}

.answer {
  padding-bottom: 15px;
  border-bottom: solid 1px #e3365f;
}

.faq {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}

.faq h4 {
  text-align: center;
  flex-basis: 100%;
  margin: 20px 0 10px;
}

.faq p {
  font-size: 1rem;
  line-height: 1.3rem;
}

 .q-and-a a {
    color: #e3365f;
    text-decoration: none;
  }

  .q-and-a a:hover {
    color: #821f36;
  }

/****** CONTACT ******/

#contact-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#contact-page .content-wrapper {
  margin-top: 100px;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 80%;
  justify-content: center;
}

.contact-title {
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  font-family: "hammersmith one", sans-serif;
  font-size: 1.65em;
  color: #e3365f;
  text-transform: uppercase;
}

.contact-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}

form input,
textarea {
  width: 80%;
  margin-bottom: 10px;
  font-family: "hammersmith one", sans-serif;
  border: solid 2px #e3365f;
  border-radius: 2px;
  padding: 10px;
}

textarea {
  resize: none;
  height: 250px;
}

input[type=submit] {
  background-color: #e3365f;
  color: #fff;
  border: solid 2px #e3365f;
  text-transform: uppercase;
  font-size: 1.2em;
  width:60%;
  padding: 20px 0;
  margin-top: 10px;
}

input[type=submit]:hover {
  background-color: #fff;
  color: #e3365f;
}

/***** FOOTER *****/

footer {
  background-color: #e3365f;
  display: flex;
  flex-flow: row wrap;
  flex-basis: 80%;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1rem 0;
  border-top: solid 3px #fff;
}

footer .footer-text {
  font-size: .875em;
  margin: .25em 0;
  font-family: "Hammersmith One", sans-serif;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 85%;
  text-align: center;
  line-height: 1.2em;
}

footer .social-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.social-icons h3 {
  font-family: "Hammersmith One", serif;
  flex-basis: 100%;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
  font-size: 2em;
}
.social-icons svg {
  width: 40px;
  padding: 0 20px;
}

footer path {
  fill: #fff;
  transition: .2s;
}

.social-icons a:hover path{
  fill: #fcec83;
  transition: .2s;
}

#contact-footer {
  position: fixed;
  bottom: 0;
}

@media only screen and (min-width:768px) {

/***** HEADER ****/
  header {
    width: 250px;
    height: 100%;
    z-index: 0;
    transition: .2s;
    box-shadow: 1px 1px 11px #888;
  }

  header .navmenu {
    display: inline-block;
    font-family: "Shrikhand", serif;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 15px 0;
    background: url("../img/strawberry-splash.jpg") right;
    transition: .2s;
    border-top: 3px solid #fff;
  }

  .navmenu a {
    color: #fff;
  }

  .navmenu h2 {
    transition: .2s;
    text-shadow: 3px 3px 0 #e3365f;
  }
  .navmenu a:hover h2 {
    transform: scale(1.3);
    transition: .2s;
  }

  .navmenu span {
    color: #fff;
    font-size: 1.7em;
    text-shadow: 3px 3px 0 #e3365f;
  }

  .section-title {
    font-family: "Shrikhand", serif;
    font-size: 5em;
    text-transform: none;
    margin: 15px 0 0;
    padding: 0;
  }

/***** HOMEPAGE *****/

  .home {
    display: none;
  }

/***** FLAVORS *****/

  .flavor-menu .content-wrapper {
    margin-left: 250px;
    margin-bottom: 20px;
    flex-basis: 50%;
  }

  .flavor h5,
  .flavor-r h5 {
    font-size: 1.25rem;
  }

/***** LOCATION *****/

  #location-menu .content-wrapper {
    justify-content: center;
    margin-left: 250px;
    margin-bottom: 20px;
  }
  #location-menu h3 {
     font-size: 2.5rem;
  }

  #location-menu h4 {
    font-size: 1.5rem;
  }

  #location-menu address {
  text-transform: none;
  font-size: 1rem;
  flex-basis: 100%;
  text-align: left;
  }

  #location-menu .hours {
  flex-basis: 100%;
  border: none;
  padding: unset;
  }

  #location-menu ul {
  font-size: 1rem;
  }
  
  #location-menu article {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

  .location-details {
    flex-basis: 40%;
    flex-flow: row wrap;
    justify-content: center;
    
}

  #location-menu .map{
    flex-basis: 40%;
    margin-right: 40px;
}

/***** ABOUT *****/

  #about-page {
    margin-top: 0;
  }

  #about-page .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-left: 250px;
  padding-bottom: 10px;
}

  #about-page h3 {
    text-align: unset;
    margin-bottom: -3px;
  }

  #about-page .section-title {
    padding: 35px 0 20px;
    flex-basis: 100%;
  }

  .bio {
    flex-basis: 100%;
  }

  .bio article {
    padding-top: 35px;
    margin-bottom: -55px;
  }

  .about-us {
    padding-bottom: 0;
  }
  
  .about-us figure {
    flex-basis: 45%;
  }

  .about-text {
    flex-basis: 45%;
    padding-left: 25px;
  }

  .our-story {
    flex-flow: row-reverse wrap;
    padding-top: 0;
  }

  .our-story figure {
    flex-basis: 35%;
  }

  .story-text {
    flex-basis: 55%;
    text-align: right;
    padding-right: 25px;
  }

  .faq .content-wrapper {
    display: flex;
    flex-basis: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 15px;
  }


  .q-and-a {
    display: flex;
    flex-basis: 85%;
    flex-flow: row wrap;
  }

  .q-and-a h4 {
    margin: 0;
  }

/***** FOOTER *****/

  footer {
    position: fixed;
    bottom: 0;
    max-width: 250px;
    text-align: center;
    font-size: .75em;
    transition: .2s;
  }

  .footer-text {
    display: flex;
    flex-basis: 200px;
  }

  .social-icons svg {
    width: 60px;
    padding: 30px;
  }

  .social-icons h3 {
    margin-bottom: -10px;
  }
}

@media only screen and (min-width:1200px) {

/***** HEADER *****/

  header {
    width:400px;
    transition: .2s;
  }

  header .navmenu {
    width: 400px;
    transition: .2s;
  }

  .navmenu h2 {
    font-size: 2.25em;
    text-shadow: 4px 4px 0 #e3365f;
  }

  .navmenu span {
    font-size: 3.375em;
    text-shadow: 5px 5px 0 #e3365f;
  }

/***** FLAVORS *****/

  .flavor-menu .content-wrapper {
    margin-left: 400px;
  }

/***** LOCATIONS *****/

  #location-menu .content-wrapper {
    margin-left: 400px;
    display: flex;
    flex-flow: row wrap;
  }

  #location-menu h4 {
    font-size: 2rem;
  }

  #location-menu address {
  text-transform: none;
  font-size: 1.4rem;
  flex-basis: 100%;
  text-align: left;
  }

  #location-menu .hours {
  flex-basis: 100%;
  border: none;
  padding: unset;
  }

  #location-menu ul {
  font-size: 1.4rem;
  }
  
  #location-menu article {
    display: flex;
    flex-basis: 80%;
    align-items: center;
}

  .location-details {
    flex-basis: 40%;
    flex-flow: row wrap;
    justify-content: center;
    
}

  #location-menu .map{
    flex-basis: 40%;
    margin-right: 50px;
}


/***** ABOUT *****/

  #about-page .content-wrapper {
  display: flex;
  flex-flow: row wrap;
  margin-left: 400px;
  padding-bottom: 10px;
  flex-basis: 60%;
  justify-content: center;
}

  .bio article{
    margin-bottom: 0px;
  }

  .about-us,
  .our-story {
    justify-content: center;
  }

  .about-us figure {
    flex-basis: 30%;
    min-width: 300px;
  }

  .about-text {
    flex-basis: 30%;
    padding-left: 50px;
    max-width: 350px;
  }

  .our-story figure {
  flex-basis: 25%;
  min-width: 250px;
  }

  .story-text {
    flex-basis: 40%;
    padding-right: 50px;
    max-width: 350px;
  }

  .faq {
    margin-top: -10px;
  }

  .question {
    flex-basis: 100%;
  }

/***** FOOTER *****/

  footer {
    max-width: 400px;
    transition: .2s;
  }

  .social-icons {
    flex-basis: 400px;
  }

  .social-icons svg {
    padding: 20px;
    width: 50px;
  }

}
